<!DOCTYPE html>
<html>
  <head>
    <title>Bandalize</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U" %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/ico' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <script type="text/javascript">
      window.bandalizelogo = "<%= image_url('bandalizelogo.svg') %>"
      window.tealx = "<%= image_url('tealCircleX.svg') %>"
      window.favicon = "<%= image_url('favicon.ico') %>"
      window.bluecheck = "<%= image_url('bluecheck.svg')%>"
      window.article1 = "<%= image_url('article1.png')%>"
      window.article2 = "<%= image_url('article2.jpg')%>"
      window.article3 = "<%= image_url('article3.png')%>"
      window.article4 = "<%= image_url('article4.jpg')%>"
      window.loadingGif = "<%= image_url('loadingGif.svg')%>"
    </script>

    <%= yield %>
  </body>
</html>
